<div class="text-center">
    <ul>
        <li>名前: <%= current_user.name  %> </li>
        <li>メールアドレス: <%= current_user.email  %> </li>
    </ul>
    <%= link_to("編集","/user/#{current_user.id}/edit") %>
</div>